<p>
  serie-list works!
</p>
  <div class="container">
      <table id="table" class="datos">
      <tr>
          <td class="head_">Id</td>
          <td class="head_">Nombre</td>
          <td class="head_">Canal</td>
          <td class="head_">Temporada</td>

      </tr>
      <tr **ngFor="let serie of series">
        <td >{{serie.id}}</td>
        <td >{{serie.Nombre}}</td>
        <td >{{serie.Canal}}</td>
        <td >{{serie.Temporada}}</td>
      </tr>
      </table>
  </div>
  <div class="container" id = "avg">

  </div>

